<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRPLoginSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dbaservices.corp.realpage.com/RPLoginSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRPLoginSvc"
                contract="LoginService.IRPLoginSvc" name="BasicHttpBinding_IRPLoginSvc" />
        </client>
    </system.serviceModel>
</configuration>